/target
.DS_Store
.venv
.zed
.ropeproject
__pycache__
clsat/*.so
clsat/libclsat.dylib.dSYM
*.drat
*.dimacs
*.trace
/benchmark_result
tests/benchmark
benchmark_results
benchmark_bva
benchmark_bva_pimped
sat_2021
benchmark_runs
benchmark_runs_optimized
benchmark_runs_rescheduled
benchmark_runs_rescheduled_2_dip_glue
